<%- include('templates/header') %>

<main>
    <section id="hero">
        <div class="container">
            <h1>Great power produces great code</h1>
            <p class="sub-header">I have great power</p>
            <a href="#projects" class="primary-btn">My Projects</a>
            <a href="#" class="secondary-btn">Test Button</a>
        </div>
    </section>
    <section id="projects">
        <div class="container">
            <h2>Projects</h2>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2>Contact</h2>
        </div>
    </section>
    <section id="testimonial">
        <div class="container">
            <h2>Testimonial</h2>
        </div>
    </section>
</main>

<%- include('templates/footer') %>