<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oliver Zygo - <%= title %></title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">Oliver Zygo</a>
            <div class="nav-toggle">
                <div class="nav-toggle-bar"></div>
                <div class="nav-toggle-bar"></div>
                <div class="nav-toggle-bar"></div>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="/" class="nav-link current-link">Home</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="#testimonial" class="nav-link">Testimonial</a></li>
                <li class="nav-item"><a href="#" class="nav-link header-btn">View CV</a></li>
            </ul>
        </nav>
    </div>
</header>