:root {
    --border-radius: 14px;
    --border-width: 2px;
    --blur: 0;
    --transparency: 1;
    --transition-duration: 250ms;

    --container-width: 85%;
    --header-height: 4em;

    --secondary-color: #242333;
    --accent-color: #01B0D3;
}