:root {
    --border-radius: 12px;
    --border-width: 0;
    --transition-duration: 250ms;
    // --transparency: .6;
    --transparency: 1;
    // --blur: 16px;
    --blur: 0;
    --container-width: 85%;
    --header-height: 4em;
}