header {
    width: 100%;
    position: fixed;
    transition: top var(--transition-duration) ease-in-out;
    background: rgba($color: #0a0a0a, $alpha: var(--transparency));
    backdrop-filter: blur(var(--blur));
    z-index: 1000;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--header-height);
        .logo {
            font-weight: bold;
        }
        .nav-items {
            list-style: none;
            display: flex;
            .nav-link {
                transition: color var(--transition-duration) ease-in-out;
                &:hover {
                    color: #aaaaaa;
                }
                &.current-link {
                    color: #1100ff;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .nav-toggle {
        .nav-toggle-bar {
            width: 1.7em;
            height: .2em;
            background: #f1f1f1;
            margin-bottom: .3em;
            border-radius: var(--border-radius);
            transition: transform var(--transition-duration) ease-in-out,
                        background var(--transition-duration) ease-in-out;
            &:nth-child(2) {
                width: 1.4em;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.nav-active {
            .nav-toggle-bar {
                &:first-child {
                    transform-origin: center;
                    transform: translateY(.5em) rotate(45deg);
                }
                &:nth-child(2) {
                    // display: none;
                    z-index: -1000;
                    background: inherit;
                }
                &:last-child {
                    transform-origin: center;
                    transform: translateY(-.5em) rotate(-45deg);
                }
            }
        }
    }
    .nav-items {
        width: 100%;
        min-height: 350px;
        height: calc(100vh - var(--header-height));
        background: #0a0a0a;
        position: fixed;
        top: var(--header-height);
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform var(--transition-duration) ease-in-out;
        .nav-item {
            width: var(--container-width);
            margin: 0 auto;
            border-top: 2px solid rgba($color: #1a1a1a, $alpha: var(--transparency));
            .nav-link {
                display: block;
                width: 100%;
                line-height: var(--header-height);
            }
        }
        &.nav-active {
            transform: translateX(100%);
        }
    }
}

// Past Tablet
@media screen and (min-width: 768px) {
    .nav-items {
        min-width: 480px;
        justify-content: space-between;
        align-items: center;
    }
}

// Past Desktop
@media screen and (min-width: 1000px) {
    .nav-items {
        width: 40%;
    }
}